extends ../layout

block content
	.information.container
		ol.breadcrumb.visible-xs
			li
				a(href="#",title="") #{example.category.genre.scope}
			li
				a(href="#",title="") #{example.category.genre.name}
			li
				a(href="#",title="") #{example.category.name}
			li.active
				a(href="#",title="") #{example.title}
		.ul
			a.home_weal(href='javascript:;',title="")
				.col-xs-3.col-sm-3.col-md-3.col-lg-2.padding-right
					.div-bgimg(style="background-image:url(#{example.poster})")
				.col-xs-9.col-sm-9.col-md-9.col-lg-10
					h4=example.title
					p=example.summary
					span 发布：
						small #{moment(example.meta.updateAt).format('MM/DD/YYYY')}
				.case_status
					p
						i.iconfont &#xe637;
						span #{example.pv}
						small.small_line
						if user
							-for(var j=0;j<example.users.length;j++){
								-if(user._id==example.users[j]){love=1}
							-}
							if love==0
								i.iconfont.icon_love(data-id="#{example._id}") &#xe62b;
							else
								i.iconfont.icon_love.loved(data-id="#{example._id}") &#xe614;
						else 
							i.iconfont.icon_love(data-id="#{example._id}" data-toggle="tooltip" data-placement="bottom" title="登录后可收藏") &#xe62b;
						span #{example.users.length}
				.clearfix
		.infor_content.hidden#infor_content1 #{example.content}
		.infor_content#infor_content2
			.clearfix
		.panel.panel-defatul
				.panel-body
					ul.media-list.momment-list#momment-list
					#comments
						form#commentForm
							input(type="hidden",name="cate",value="example")
							input#example_id(type="hidden",name="example",value="#{example._id}")
							.form-group
								textarea#comContent.form-control(name="content",row="3",placeholder="啊好想说些什么")
							if user
								input.btn.btn-primary#commentSubmit(type="button" value="提交") 
								input(type="hidden",name="from",value="#{user._id}")
							else
								a#userLogin.user(href="javascript:;",title='') 登录后评论
	script(type='text/javascript').
		$(function() {
			getComment('#example_id','#momment-list','example');
			$(".information .div-bgimg").height($(".information .div-bgimg").width());
			$("#infor_content2").html($("#infor_content1").text()); 
		})					










