extends ../layout

block content
	.information.container
		ol.breadcrumb.visible-xs
			li
				a(href="#",title="") 首页
			li
				a(href="#",title="") 工装
			li.active
				a(href="#",title="") 儿童房
		.ul
			a.home_weal(href='javascript:;',title="")
				.col-xs-3.col-sm-3.col-md-3.col-lg-2
					img(src="#{example.poster}",alt="")
				.col-xs-9.col-sm-9.col-md-9.col-lg-10
					h4=example.title
					p=example.summary
					span 发布：
						small #{moment(example.meta.updateAt).format('MM/DD/YYYY')}
				.case_status
					p
						i.iconfont &#xe637;
						span #{example.pv}
						small.small_line
						if user
							-for(var j=0;j<example.users.length;j++){
								-if(user._id==example.users[j]){love=1}
							-}
							if love==0
								i.iconfont.icon_love(data-id="#{example._id}") &#xe62b;
							else
								i.iconfont.icon_love.loved(data-id="#{example._id}") &#xe614;
						else 
							i.iconfont.icon_love(data-id="#{example._id}" data-toggle="tooltip" data-placement="bottom" title="登录后可收藏") &#xe62b;
						span #{example.users.length}
				.clearfix
		.infor_content
			p #{example.summary}
			a.info_img(href="#{example.poster}",title="")
				img(src="#{example.poster}",alt="")
			p #{example.summary}
			a.info_img(href="#{example.poster}",title="")
				img(src="#{example.poster}",alt="")
			.clearfix
		.panel.panel-defatul
				.panel-body
					ul.media-list.momment-list
						each item in comments
							li.media
								.pull-left
									a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{item.from._id}")
										img.media-object(src="/images/userIcon.jpg")
								.media-body
									h4.media-heading #{item.from.name}
									p #{item.content}
									if item.reply && item.reply.length>0
										each reply in item.reply
											.media
												.pull-left
													a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{reply.from._id}")
														img.media-object(src="/images/userIcon.jpg")
												.media-body
													h4.media-heading 
													| #{reply.from.name}
													span.text-info &nbsp;回复&nbsp;
													| #{reply.to.name} :
													p #{reply.content}	
								hr
					#comments
						form#commentForm(method="POST",action="/user/comment")
							input(type="hidden",name="comment[example]",value="#{example._id}")
							.form-group
								textarea.form-control(name="comment[content]",row="3",placeholder="啊好想说些什么")
							if user
								button.btn.btn-primary(type='submit') 提交
								input(type="hidden",name="comment[from]",value="#{user._id}")
							else
								a#userLogin.user(href="javascript:;",title='') 登录后评论
						










