extends ../adminlay

block content
	.container
		.row
			.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th 领域
							th.right-border 图片分类
							th.left-border
								a(href="/admin/genre_new/1") 添加
							th(colspan='2') 包含的关键字
							th.hidden-xs 时间
							th 更新
							th 删除
					tbody
						each item in genres
							tr(class="item-id-#{item._id}")
								td.scope #{item.scope}
								td(colspan='2') #{item.name}
								if item.categories && item.categories.length>0
									td.right-border 
										each cat in item.categories
											| #{cat.name},
									td.text-right.left-border
										a.sm_add.btn.btn-info.btn-sm(href="/admin/category/#{item._id}/1") 添加
										a.sm_add.btn.btn-default.btn-sm(target="_blank",href="/admin/category_list/#{item._id}") 编辑
								else
									td(colspan='2'): a(href="/admin/category/#{item._id}/1") 添加关键字
								td.hidden-xs #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
								td: a(href="/admin/genre_new/#{item._id}") 修改
								td
									button.btn.btn-danger.del(type="button",data-id="#{item._id}",data-toggle="modal",data-target=".bs-example-modal-sm") 删除
	ul.pagination#adminPage
	#delModal.modal.fade.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel")
		.modal-dialog.modal-sm(role="document")
			.modal-content
				.modal-body.center 删除此项你将会把该分类下的关键字及图片全将删掉，您是否确定要删除此项
				.modal-footer
					button.btn.btn-primary.btn-sm#delconfirm 确定
					button.btn.btn-default.btn-sm(data-dismiss="modal") 取消
	script(type='text/javascript').
		$(function(){
			adminPage('#adminPage',#{currentPage},#{totalPages},'#{url}')
			$('.del').click(function(){
				var target=$(this)
				$('#delconfirm').click(function(){
					del(target,'/admin/genre_list')
				})
			})
		})

