extends ../adminlay

block content
	.container
		.row
			a.bottom10.col-xs-4.col-sm-2.btn.col-xs-offset-4.col-sm-offset-5.btn-default.btn-sm(href="../admin/example") 图片上传
			.clearfix
			.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th 类别
							th 图片名称
							th 浏览次数
							th.hidden-xs 录入时间
							th 查看
							th 更新
							th 删除
					tbody
						each item in examples
							tr(class="item-id-#{item._id}")
								td #{item.category.genre.scope}&gt;#{item.category.genre.name}&gt;#{item.category.name}
								td #{item.title}
								td #{item.pv}
								td.hidden-xs #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
								td: a(target="_blank",href="../example/#{item._id}") 查看
								td: a(href="../admin/update/#{item._id}") 修改
								td
									button.btn.btn-danger.del(type="button",data-id="#{item._id}",data-toggle="modal",data-target=".bs-example-modal-sm") 删除
	ul.pagination#adminPage
	#delModal.modal.fade.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel")
		.modal-dialog.modal-sm(role="document")
			.modal-content
				.modal-body.center 您是否确定要删除此项
				.modal-footer
					button.btn.btn-primary.btn-sm#delconfirm 确定
					button.btn.btn-default.btn-sm(data-dismiss="modal") 取消
	script(type='text/javascript').
		$(function(){
			adminPage('#adminPage',#{currentPage},#{totalPages},'#{url}')
			$('.del').click(function(){
				var target=$(this)
				$('#delconfirm').click(function(){
					del(target,'/admin/list')
				})
			})
		})