extends ../layout

block content
	#qiangHui.container
		ol.breadcrumb.visible-xs
			li
				a(href="/",title="") 首页
			li
				a(href="/",title="") #{genre.scope}
			li
				a(href="#",title="") #{genre.name}
		.select_title
			.col-xs-3.col-sm-2.col-md-2.col-lg-2.no_padding.small_title.active
				//- a(href="/genre/#{genre.scope}/#{genre._id}") #{genre.name}艺术
				a#qActive(href="javascript:void(0);" data-scope="#{genre.scope}" data-id="#{genre._id}") #{genre.name}艺术
			.col-xs-9.col-sm-10.col-md-10.col-lg-10.no_padding
				if genre.categories.length>0
					each item in genre.categories
						.col-xs-3.col-sm-2.col-md-2.col-lg-2.small_title.category(data-id="#{item._id}") #{item.name}
			.clearfix
		.home_case.row#selsctCategory
		.clearfix
		ul.pagination#pageU1
		script(type='text/javascript').
			$(function(){
			 selectCategoryPage($('#qActive').attr('data-id'),'#selsctCategory','#pageU1',$('#qActive').attr('data-scope'))
			})

		





