extends ../layout

block content
	#qiangHui.container
		ol.breadcrumb.visible-xs
			li
				a(href="/",title="") 首页
			li
				a(href="/",title="") #{genre.scope}
			li
				a(href="#",title="") #{genre.name}
		.select_title
			.col-xs-3.col-sm-2.col-md-2.col-lg-2.no_padding.small_title.active
				a(href="/genre/#{genre.scope}/#{genre._id}") #{genre.name}艺术
			.col-xs-9.col-sm-10.col-md-10.col-lg-10.no_padding
				if genre.categories.length>0
					each item in genre.categories
						.col-xs-3.col-sm-2.col-md-2.col-lg-2.small_title.category(data-id="#{item._id}") #{item.name}
			.clearfix
		.home_case.row#selsctCategory
			if genre.categories.length>0
					each cat in genre.categories
						if cat.examples.length>0
							each item in cat.examples
								.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
									.user_case
										a(href="/example/#{item._id}",title="")
											img(src="#{item.poster}",alt="#{item.title}")
										.case-info
											strong #{item.title}
											.case_status
												i.iconfont &#xe637;
												span #{item.pv}
												small.small_line
												-love=0
												if user
													-for(var j=0;j<item.users.length;j++){
														-if(user._id==item.users[j]){love=1}
													-}
													if love==0
														i.iconfont.icon_love(data-id="#{item._id}") &#xe62b;
													else
														i.iconfont.icon_love.loved(data-id="#{item._id}") &#xe614;
												else 
													i.iconfont.icon_love(data-id="#{item._id}" data-toggle="tooltip" data-placement="bottom" title="登录后可收藏") &#xe62b;
												span #{item.users.length}
			.clearfix
	script(src="/js/ajax.js")


		





