extends ../adminlay

block content
	.container
		.row
			if user.role>40
				a#addAdminUser.bottom10.col-xs-4.col-sm-2.btn.col-xs-offset-4.col-sm-offset-5.btn-default.btn-sm(href="../admin/useradmin") 管理员列表
			.clearfix
			.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th 名字
							th 电话号码
							th 邮箱
							th 收货地址
							th 时间
							th 删除
					tbody
						each item in users
							tr(class="item-id-#{item._id}")
								td #{item.name}
								td #{item.phone}
								td #{item.email}
								td #{item.address}
								td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
								td
									button.btn.btn-danger.del(type="button",data-id="#{item._id}",data-toggle="modal",data-target=".bs-example-modal-sm") 删除
	ul.pagination#adminPage
	#delModal.modal.fade.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel")
		.modal-dialog.modal-sm(role="document")
			.modal-content
				.modal-body.center 您是否确定要删除这个用户
				.modal-footer
					button.btn.btn-primary.btn-sm#delconfirm 确定
					button.btn.btn-default.btn-sm(data-dismiss="modal") 取消
	script(type='text/javascript').
		$(function(){
			adminPage('#adminPage',#{currentPage},#{totalPages},'#{url}')
			$('.del').click(function(){
				var target=$(this)
				$('#delconfirm').click(function(){
					del(target,'/admin/userlist')
				})
			})	
		})	