extends ../adminlay

block content
	.container
		.row
			a#addAdUser.bottom10.col-xs-4.col-sm-2.btn.col-xs-offset-1.col-sm-offset-3.btn-default.btn-sm(href="javascript:void(0);") 增加管理员
			a.bottom10.col-xs-4.col-sm-2.btn.col-xs-offset-2.col-sm-2.btn.col-sm-offset-2.btn-default.btn-sm(href="../admin/useradmin") 管理员列表
			.clearfix
			.table-responsive#adminUserList
				table.table.table-hover.table-bordered
					thead
						tr
							th 名字
							th 时间
							th 删除
					tbody
						each item in users
							tr(class="item-id-#{item._id}")
								td #{item.name}
								td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
								td
									button.btn.btn-danger.del(type="button",data-id="#{item._id}",data-toggle="modal",data-target=".bs-example-modal-sm") 删除
			.col-xs-8.col-md-6.col-xs-offset-2.col-md-offset-3.add-user
				form#addUserForm.form-horizontal.c-hide(method="post",action="/user/signup")
					input#role(type="hidden",name="user[role]",value='10')
					.form-group
						label.col-sm-2.control-label(for="inputText") 名称
						.col-sm-10
							input#inputText.form-control(type="text",name="user[name]",placeholder="",maxlength='10')
					.form-group
						label.col-sm-2.control-label(for="inputPass") 密码
						.col-sm-10
							input#inputPass.form-control(type="password",name="user[password]",placeholder="")
					.form-group
						.col-sm-offset-2.col-sm-10.upusertip
					.form-group
						.col-sm-offset-2.col-sm-10
							input.btn#upSubmit(type="button" value="添加")
	#delModal.modal.fade.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel")
		.modal-dialog.modal-sm(role="document")
			.modal-content
				.modal-body.center 您是否确定要删除这个管理员
				.modal-footer
					button.btn.btn-primary.btn-sm#delconfirm 确定
					button.btn.btn-default.btn-sm(data-dismiss="modal") 取消 
	script(src="/js/admin.js")
	script(type='text/javascript').
		$(function(){
			//用户列表
			$('.del').click(function(){
				var target=$(this)
				$('#delconfirm').click(function(){
					del(target,'/admin/userlist')
				})
			})
			//添加
			$('#upSubmit').click(function(){
				var name=$('#inputText').val()
				var password=$('#inputPass').val()
				var role=$('#role').val()
				if(password.length<6){$('.upusertip').html('密码位数不能小于6位数')}
				if(name.length==0){$('.upusertip').html('用户名不能为空')}
				if(name.length!=0 && password.length>=6){
					$.ajax({
				         type: "POST",
				         url: "/user/signup",
				         data:{name:name,password:password,role:role},
				         dataType: "json",
				         success: function(data){
							if(data.success===1){
								window.location.href='../admin/useradmin'
							}else{
								$('.upusertip').html(data.text)
							}
						}
					})
				}	
			})
			
		})	